doctype
html
  head
    != partial("_includes/head")
  body
    header
      != partial("_includes/header")
    main
      != yield
    footer
      != partial("_includes/footer")
    != partial("_includes/_js")
    != partial("_includes/_analytics")