meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")

//- TODO(boilerplate) Change title
title Project Title

//- TODO(boilerplate) Add SEO metadata
meta(name="description" content="")
meta(name="keywords" content="")

meta(name="viewport" content="width=device-width, initial-scale=1")

//- TODO(boilerplate) Add other CSS assets, as needed, ie CSS framework, fonts, Font Awesome, etc.
link(rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css")
link(rel="stylesheet" href="css/main.css")

script(src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.min.js")